<?xml version="1.0" encoding="utf-8"?>
<ArrayOfItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <Name>{%FileExt%}</Name>
    <Value>.aspx</Value>
  </Item>
  <Item>
    <Name>{%Default%}</Name>
    <Value>default</Value>
  </Item>
  <Item>
    <Name>{%HostDirectory%}</Name>
    <Value>http://localhost/</Value>
  </Item>
  <Item>
    <Name>{%BlogDirectory%}</Name>
    <Value>blog</Value>
  </Item>
  <Item>
    <Name>{%TwitterDirectory%}</Name>
    <Value>twitter</Value>
  </Item>
  <Item>
    <Name>{%XmlrpcDirectory%}</Name>
    <Value>xmlrpc</Value>
  </Item>
  <Item>
    <Name>{%BookmarkDirectory%}</Name>
    <Value>bookmark</Value>
  </Item>
  <Item>
    <Name>{%GalleryDirectory%}</Name>
    <Value>gallery</Value>
  </Item>
  <Item>
    <Name>{%GuestBookDirectory%}</Name>
    <Value>guestbook</Value>
  </Item>
  <Item>
    <Name>{%ShareDirectory%}</Name>
    <Value>share</Value>
  </Item>
  <Item>
    <Name>{%FeedDirectory%}</Name>
    <Value>feed</Value>
  </Item>
  <Item>
    <Name>{%RssDirectory%}</Name>
    <Value>rss</Value>
  </Item>
  <Item>
    <Name>{%SiteName%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%SiteID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%UserName%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%UserID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%CategoryName%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%CategoryID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%PostID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%PostGUID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%CommentGUID%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%Year%}</Name>
    <Value></Value>
  </Item> 
  <Item>
    <Name>{%Month%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%Day%}</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>{%Page%}</Name>
    <Value>default</Value>
  </Item>
  <Item>
    <Name>{%Comment%}</Name>
    <Value>comment</Value>
  </Item>
</ArrayOfItem>