<?xml version="1.0" encoding="utf-8"?>
<ArrayOfItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <Name>site_default</Name>
    <Value>{%HostDirectory%}</Value>
  </Item>
  <Item>
    <Name>blog_default</Name>
    <Value>{%HostDirectory%}{%BlogDirectory%}/{%Default%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>blog_list</Name>
    <Value>{%HostDirectory%}{%BlogDirectory%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>blog_catalog_list</Name>
    <Value>{%HostDirectory%}{%BlogDirectory%}/catalog/{%CategoryID%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>blog_single</Name>
    <Value>{%HostDirectory%}{%BlogDirectory%}/{%Year%}/{%Month%}/{%Day%}/{%PostID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>twitter_list</Name>
    <Value>{%HostDirectory%}{%TwitterDirectory%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>twitter_single</Name>
    <Value>{%HostDirectory%}{%TwitterDirectory%}/{%PostGUID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>bookmark_list</Name>
    <Value>{%HostDirectory%}{%BookmarkDirectory%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>bookmark_single</Name>
    <Value>{%HostDirectory%}{%BookmarkDirectory%}/{%PostGUID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>gallery_list</Name>
    <Value>{%HostDirectory%}{%GalleryDirectory%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>gallery_single</Name>
    <Value>{%HostDirectory%}{%GalleryDirectory%}/{%PostGUID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>guestbook_single</Name>
    <Value>{%HostDirectory%}{%GuestBookDirectory%}/{%Default%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>share_single</Name>
    <Value>{%HostDirectory%}{%ShareDirectory%}/{%PostGUID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>share_list</Name>
    <Value>{%HostDirectory%}{%ShareDirectory%}/{%Default%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>feed_rss_index</Name>
    <Value>{%HostDirectory%}{%FeedDirectory%}/{%RssDirectory%}/{%Default%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_single_comment2page</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/comment/{%CommentGUID%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_getcomment</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/comment/{%PostGUID%}/{%Page%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_postcomment</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/comment{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_delcomment</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/delcomment{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_index</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/{%Default%}{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_rsd</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/rsd{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_wlwmanifest</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/wlwmanifest{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_login</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/login{%FileExt%}</Value>
  </Item>
  <Item>
    <Name>xmlrpc_logout</Name>
    <Value>{%HostDirectory%}{%XmlrpcDirectory%}/logout{%FileExt%}</Value>
  </Item>
</ArrayOfItem>