<?xml version="1.0" encoding="utf-8"?>
<ArrayOfItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <Name>APPLICATION_HOST</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>APPLICATION_DIRECTORY</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>APPLICATION_CONNECTIONSTRING</Name>
    <Value>Data Source=|DataDirectory|abc.db;Pooling=True</Value>
  </Item>
  <Item>
    <Name>APPLICATION_COPYRIGHT</Name>
    <Value>Copyright 1999-2005 RainbowSoft Studio. Some Rights Reserved.</Value>
  </Item>
  <Item>
    <Name>APPLICATION_PRODUCT_NAME</Name>
    <Value>ZDevo</Value>
  </Item>
  <Item>
    <Name>APPLICATION_PRODUCT_VERSION</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>APPLICATION_UPLOAD_FILETYPE</Name>
    <Value>jpg|gif|png|jpeg|bmp|psd|wmf|ico|rpm|deb|tar|gz|sit|7z|bz2|zip|rar|xml|xsl|svg|svgz|doc|xls|wps|chm|txt|pdf|mp3|avi|mpg|rm|ra|rmvb|mov|wmv|wma|swf|fla|torrent</Value>
  </Item>
  <Item>
    <Name>APPLICATION_UPLOAD_FILESIZE</Name>
    <Value>104857600</Value>
  </Item>
  <Item>
    <Name>APPLICATION_TRACE_ENABLED</Name>
    <Value>True</Value>
  </Item>
  <Item>
    <Name>APPLICATION_TRACE_FILENAME</Name>
    <Value>zdevo.txt</Value>
  </Item>
</ArrayOfItem>