<?xml version="1.0" encoding="utf-8"?>
<ArrayOfItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <Name>SITE_HOST</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>SITE_TITLE</Name>
    <Value>布罗格的烘培机</Value>
  </Item>
  <Item>
    <Name>SITE_SUBTITLE</Name>
    <Value>Firefox、Opera、Safari下有的页面会出错，原因是以前的HTML数据不规范所致。</Value>
  </Item>
  <Item>
    <Name>SITE_TEMPLATE</Name>
    <Value>default</Value>
  </Item>
  <Item>
    <Name>SITE_MSG_COUNT</Name>
    <Value>10</Value>
  </Item>
  <Item>
    <Name>SITE_BLOG_LIST_COUNT</Name>
    <Value>5</Value>
  </Item>
  <Item>
    <Name>SITE_BOOKMARK_LIST_COUNT</Name>
    <Value>10</Value>
  </Item>
  <Item>
    <Name>SITE_DEFAULT_LIST_COUNT</Name>
    <Value>20</Value>
  </Item>
  <Item>
    <Name>SITE_DEFAULT_TWITTER_COUNT</Name>
    <Value>10</Value>
  </Item>
  <Item>
    <Name>SITE_DEFAULT_BOOKMARK_COUNT</Name>
    <Value>10</Value>
  </Item>
  <Item>
    <Name>SITE_TWITTER_LIST_COUNT</Name>
    <Value>15</Value>
  </Item>
  <Item>
    <Name>SITE_RSS_LIST_COUNT</Name>
    <Value>20</Value>
  </Item>
  <Item>
    <Name>SITE_MANAGE_COUNT</Name>
    <Value>50</Value>
  </Item>
  <Item>
    <Name>SITE_PAGEBAR_COUNT</Name>
    <Value>15</Value>
  </Item>
  <Item>
    <Name>SITE_GALLERY_LIST_COUNT</Name>
    <Value>8</Value>
  </Item>
  <Item>
    <Name>SITE_GALLERY_FLICKR_LIST_COUNT</Name>
    <Value>18</Value>
  </Item>
  <Item>
    <Name>SITE_DATETIME_FORMAT</Name>
    <Value>yyyy/MM/dd , dddd , HH:mm:ss</Value>
  </Item>
  <Item>
    <Name>SITE_DATE_FORMAT</Name>
    <Value>yyyy年MM月dd日 , dddd </Value>
  </Item>
  <Item>
    <Name>SITE_TIME_FORMAT</Name>
    <Value>HH:mm:ss</Value>
  </Item>
  <Item>
    <Name>SITE_FLICKR_FEED</Name>
    <Value>http://api.flickr.com/services/feeds/photos_public.gne?id=82775984@N00&amp;lang=en-us&amp;format=rss2</Value>
  </Item>
  <Item>
    <Name>SITE_PICASA_FEED</Name>
    <Value>http://picasaweb.google.com/data/feed/base/user/rainbowsoft?kind=album&amp;alt=rss&amp;hl=zh_CN&amp;access=public</Value>
  </Item>
  <Item>
    <Name>SITE_YUPOO_FEED</Name>
    <Value>http://www.yupoo.com/services/feeds/photos?user_id=ff80808117e3fb00011821774c5820f0</Value>
  </Item>
  <Item>
    <Name>SITE_FANFOU_FEED</Name>
    <Value>http://api.fanfou.com/statuses/user_timeline.rss?id=zxasd</Value>
  </Item>
  <Item>
    <Name>SITE_DELICIOUS_FEED</Name>
    <Value>http://feeds.delicious.com/rss/rainbowsoft</Value>
  </Item>
  <Item>
    <Name>SITE_TWITTER_FEED</Name>
    <Value>http://twitter.com/statuses/user_timeline/13548852.rss</Value>
  </Item>
  <Item>
    <Name>SITE_365KEY_FEED</Name>
    <Value>http://www.365key.com/rss/rainbowsoft</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_INDEX_NAME</Name>
    <Value>首页</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_INDEX_URL</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_INDEX_ORDER</Name>
    <Value></Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BLOG_NAME</Name>
    <Value>日志</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BLOG_URL</Name>
    <Value>blog</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BLOG_ORDER</Name>
    <Value>1</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_TWITTER_NAME</Name>
    <Value>微博</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_TWITTER_URL</Name>
    <Value>twitter</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_TWITTER_ORDER</Name>
    <Value>2</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BOOKMARK_NAME</Name>
    <Value>收藏</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BOOKMARK_URL</Name>
    <Value>bookmark</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_BOOKMARK_ORDER</Name>
    <Value>3</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GALLERY_NAME</Name>
    <Value>图片</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GALLERY_URL</Name>
    <Value>gallery</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GALLERY_ORDER</Name>
    <Value>4</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GUESTBOOK_NAME</Name>
    <Value>留言</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GUESTBOOK_URL</Name>
    <Value>guestbook</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_GUESTBOOK_ORDER</Name>
    <Value>6</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_SHARE_NAME</Name>
    <Value>分享</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_SHARE_URL</Name>
    <Value>share</Value>
  </Item>
  <Item>
    <Name>SITE_COLUMN_SHARE_ORDER</Name>
    <Value>5</Value>
  </Item>
</ArrayOfItem>