<?xml version="1.0" encoding="utf-8"?>
<ArrayOfItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <Name>(default)(\.aspx|\.html)</Name>
    <Value>~/page/default/index.ashx?page=$1</Value>
  </Item>
  <Item>
    <Name>(blog)/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/blog/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(blog)/(catalog)/(\d{1,})/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/blog/catalog.ashx?catalog=$3&amp;page=$4</Value>
  </Item>
  <Item>
    <Name>(blog)/(\d{4})/(\d{1,2})/(\d{1,2})/(\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/blog/single.ashx?id=$5</Value>
  </Item>
  <Item>
    <Name>(blog)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/blog/single.ashx?guid=$2</Value>
  </Item>
  <Item>
    <Name>(twitter)/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/twitter/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(twitter)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/twitter/single.ashx?guid=$2</Value>
  </Item>
  <Item>
    <Name>(bookmark)/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/bookmark/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(bookmark)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/bookmark/single.ashx?guid=$2</Value>
  </Item>
  <Item>
    <Name>(guestbook)/(default)(\.aspx|\.html)</Name>
    <Value>~/page/guestbook/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(gallery)/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/gallery/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(gallery)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/gallery/single.ashx?guid=$2</Value>
  </Item>
  <Item>
    <Name>(share)/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/share/list.ashx?page=$2</Value>
  </Item>
  <Item>
    <Name>(share)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/share/single.ashx?guid=$2</Value>
  </Item>
  <Item>
    <Name>(feed)/(rss)/(default)(\.aspx|\.html)</Name>
    <Value>~/page/rss/index.ashx</Value>
  </Item>
  <Item>
    <Name>(feed)/(rss)/(blog)(\.aspx|\.html)</Name>
    <Value>~/page/rss/blog.ashx</Value>
  </Item>
  <Item>
    <Name>(schedule)(\.aspx|\.html)</Name>
    <Value>~/page/schedule/index.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(default)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/index.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(comment)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/comment.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(delcomment)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/delcomment.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(comment)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})/(default|\d{1,})(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/getcomment.ashx?guid=$3&amp;page=$4</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(comment)/(\w{8}-\w{4}-\w{4}-\w{4}-\w{12})(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/comment2page.ashx?guid=$3</Value>
  </Item>
  <Item>
    <Name>(sitemap)(\.aspx|\.html)</Name>
    <Value>~/page/rss/sitemap.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(login)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/login.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(logout)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/logout.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(rsd)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/rsd.ashx</Value>
  </Item>
  <Item>
    <Name>(xmlrpc)/(wlwmanifest)(\.aspx|\.html)</Name>
    <Value>~/page/xmlrpc/wlwmanifest.ashx</Value>
  </Item>
</ArrayOfItem>